body{
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.card{
    margin: 21px auto 0;
    height: 800px;
    width: 550px;
    background-color: #23252C; 
    border-radius: 5%;
}

.card > img {
    margin: 44px auto 500px;
    width: 317px;
    height: 317px;

}

.header{
    margin: 50px auto;
    padding-top: 21px;
}



.btn{
    margin: 0 35px;
    padding: 10px;
    width: 115px;
    height: 40px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}

.btn > i {
    padding-right: 8px;
}

.btn-envelope{
    background-color: #D1D5DB;
    color: gray;
}

.btn-linkedin{
    background-color: #5093E2;
    color: #fff;
}