body{
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.card{
    margin: 21px auto 0;
    height: 800px;
    width: 550px;
    background-color: #23252C; 
    border-radius: 5%;
}

.card > img {
    margin: 44px auto 500px;
    width: 317px;
    height: 317px;

}

.header{
    margin: 50px auto;
    padding-top: 21px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.buttons:hover{
    background-color: blue;

}

.btn{
    padding: 10px;
}